 <form [formGroup]="registrationForm">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text"
          formControlName="userName"
          class="form-control"
          name="username" />
  </div>
  
  <div class="form-group">
    <label for="">Password</label>
    <input type="password"
          formControlName="password"
          class="form-control"
          name="password"
          >
  </div>
  
  <div class="form-group">
    <label for="">Confirm Password</label>
    <input type="password"
          formControlName="confrimPassword"
          class="form-control"
          name="confirm_password"
          >
  </div>

  

    <p>// Note: `formGroupName="address"`, not [formGroup]="address"</p>

    <div formGroupName="address">
        <div class="form-group">
          <label>City</label>
          <input type="text"
                formControlName="city"
                class="form-control"
                >
        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text"
                formControlName="state"
                class="form-control"
                >
        </div>
        <div class="form-group">
          <label>Zipcode</label>
          <input type="text"
                formControlName="zipcode"
                class="form-control"
                >
        </div>
    </div>

  <button class="btn btn-primary">Sign Up</button>

  <button class="btn btn-default"
        (click)="loadApiData()">
    Load Data
  </button>

  
 {{ registrationForm.value | json }}
  
 </form>


 <router-outlet></router-outlet>
