

<form #userForm="ngForm">
  <h4>form</h4>
  <p>Binding Data with ngForm</p>
  
  {{ userForm.value | json }}

  <hr>

  {{ userModel | json }}

  <div class="form-group">
    <label>Name</label>
    <input  type="text" #name="ngModel"
            [class.is-invalid]="name.invalid"
            class="form-control"
            [(ngModel)]="userModel.name"
            name="name"
            required        
        />
    <small [class.d-none]="name.valid" >Required</small>
    
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email"
          name="email"  
        class="form-control" [(ngModel)]="userModel.email" />
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input  #phone="ngModel"
            [class.is-invalid]="phone.invalid && phone.touched"
            required
            type="tel"
            name="phone"  
            pattern="^\d{10}$"
            class="form-control" [(ngModel)]="userModel.phone" />

    <div *ngIf="phone.errors && ( phone.invalid || phone.touched ) ">
      <small *ngIf="phone.errors?.['required']" >Phone number required</small>
      <small *ngIf="phone.errors?.['pattern']" >Min 10 digits required</small>
    </div>
  </div>

  
  <div class="form-group">
    <label>Topic</label>
    <select #topic="ngModel"
            (change)="validTopic(topic.value)"
            [class.is-invalid]="topicHasError || topic.touched"
            class="form-control" [(ngModel)]="userModel.topic"
            name="topic"
            required
            >
      <option value="default">Select Topic</option>
      <option value="angular">Angular</option>
      <option value="react">React</option>
    </select>
    <small class="text-danger" [class.d-none]="!topicHasError">Select Topic</small>
  </div>

    
  <div class="form-group">
    <label>Time Preference</label>
    <input type="radio" class="form-control" name="timePreference" [(ngModel)]="userModel.timePreference" /> Morning <br>
    <input type="radio" class="form-control" name="timePreference" [(ngModel)]="userModel.timePreference"  /> Evening
  </div>

  <div class="form-group">
    <label>Time Preference</label>
    <input type="checkbox" class="form-control" name="agree" [(ngModel)]="userModel.agree"  /> Agree
  </div>


  <div ngModelGroup="address">

    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" name="street" ngModel />
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" ngModel />
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" ngModel />
    </div>
  
  </div>


  <div class="form-group">
    <button type="submit">Send</button>
  </div>

</form>

<router-outlet></router-outlet>
